.cell {
    width: 100px;
    height: 100px;
    float: left;
}

.top {
    border-bottom: 1px solid black;
}

.vmiddle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
    clear: both;
}

.right {
    border-left: 1px solid black;
}

.hmiddle {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.clearing {
    clear: both;
}
